<script>
var analytics = {
    init: function() {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-65380407-1', 'auto');
    },

    pageview: function(step, environment, survey_answers) {
        var path = null;

        if (step) {
            path = [window.location.pathname];
            path.push('#');
            path.push(step);
            path = path.join('');

        } else {
            path = window.location.pathname;
        }

        ga('set', 'dimension1', environment);
        for (var question in survey_answers) {
            ga('set', 'dimension2', question + ': ' + survey_answers[question]);
        }

        ga('send', 'pageview', {'page': path, 'title': document.title});
    },

    complete: function(codelab) {
        ga('send', 'event', 'codelab', 'complete', codelab, 1);
    },

    survey: function(question, answer) {
        ga('send', 'event', 'survey-answer', question, answer, 1);
    },

    snippetCopied: function(snippet) {
        ga('send', 'event', 'code-snippet', 'copy', snippet, 1);
    },

    trackOutboundLink: function(url) {
        ga('send', 'event', 'outbound-link', 'click', url, {'hitCallback':
           function () {
                document.location = url;
                //window.open(url, '_blank');
            }
        });
    }
};

analytics.init();
</script>
<dom-module id="codelab-pack">
  <style is="custom-style">
  @import url('//fonts.googleapis.com/css?family=Roboto:100,200,400,300,300italic,700,500|Source+Code+Pro:400,700');
  @media (max-width: 800px) {
    paper-toolbar {
      height: 64px;
    }
  }
  #paperDrawerPanel {
    top:60px;
  }
  #drawerpanel_drawer {
    overflow: auto;
  }
  #paperDrawerPanel [main] {
    background-color: var(--google-grey-100);
    padding:20px;
    overflow-x:hidden;
    overflow-y:auto;
  }

  #paperDrawerPanel [drawer] {
    background-color: var(--google-grey-100);
    padding:4px 20px 120px 20px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  table code,
  h2 code,
  h3 code,
  h4 code {
    line-height: inherit;
    padding: inherit;
    background: none; }

  paper-button {
    color: white;
    margin: 10px;
    background-color: var(--google-blue-700);
    white-space: nowrap;
  }
  paper-header-panel { 
    position:fixed;
    top:0px; left:0px;
    width:100%;
    height:60px;
    color:#eeeeee;
    background:#4285f4;
    z-index:2
  }
  .paper-header {
    width:100%;
    height: 64px;
    font-size: 16px;
    line-height: 60px;
    padding: 0 10px;
    color: white;
    transition: 0.2s;
    vertical-align:middle;
  }

  html, body {
    box-sizing: border-box;
    height: 100%;
  }
  body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    -moz-osx-font-smoothing: grayscae;
    -webkit-font-smoothing: antialiased;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    /*background: url(/static/img/colorbar.png) repeat-x 50% 100%,
    url(/static/img/iowall_1920x1440.png) no-repeat 51% 0%;
    background-size: 100% 5px, cover;*/
    /*background: url(/static/img/colorbar.png) repeat-x 50% 100%;*/
    /*background-size: 100% 5px;*/
    background-color: #f1f1f3;
  }
  #menu_button {
    display:inline-block;
    position:relative;
    padding:0px 5px;
    border-style:none;
    outline:none;
    transition:1.0s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    z-index:0;
  }
  #menu_button:focus {
    outline:none;
  }    
  #menu_button:hover {
    cursor:pointer;
  }    
  .horizontal-section {
    padding: 0 !important;
  }
  
  paper-item.toc-item {
    padding:5px;
  }
  #spacer.p64 {
    height:0px;
  }
  .fab {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  .fab.gray {
    background-color: #B6B6B6;
  }
  .fab.blue {
    background-color: #4285f4;
  }
  .fab.forward {
    position:fixed;
    right:40px; bottom:25px;
    background-color: #00BCD4;
  }
  .fab.backword {
    position:fixed;
    margin-left:35px;
    bottom:25px;
    background-color: #999;
  }
  div#language {
    position:absolute;
    width: 46px;
    height: 46px;
    right:40px;
    top:36px;
    z-index:3;
  }
  #language > iron-icon {
    margin: 11px;
  }
  #page_control {
    position:fixed;
    bottom:0px;
  }
  .fab > iron-icon {
    margin: 16px;
  }

  .fab > iron-icon::shadow path {
    fill: #fff;
  }
  /* counter */
  #countdown {
    position: absolute;
    right: 2.8em;
    top: 0.8em;
    font-size: 0.65em;
    color: white;
    font-weight: 300;
    border-radius: 40px;
    width: 40px;
    text-align: center;
    height: 40px; }

  #countdown svg {
    position: absolute;
    top: 0;
    left: 0;
    webkit-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

  #countdown strong {
    display: block;
    font-size: 0.9em;
    padding-top: 0px;
    line-height: 28px;
  }

  #countdown strong:first-of-type {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 2px;
    padding-top: 12px;
    margin: 0; }

  #countdown_progress {
    stroke-dasharray: 113; }

  paper-progress {
    width: 100%;
    position: relative;
    top: 4px;
    z-index: -1; }

  #progress {
    position: absolute;
    width: 100%;
    top: inherit;
    bottom: 0;
    left: 0;
    z-index: 0;
    display:none;
 }

  #progress /deep/ #progressContainer {
    background-color: rgba(255, 255, 255, 0.2); }

  #progress /deep/ #activeProgress {
    /*background: rgb(13, 168, 97);*/
    /*background-color: #00B95F;*/
    /*background-color: #1D5CBD;*/
    /*background-color: #A8BEE0;*/
    background-color: rgba(255, 255, 255, 0.5); }

  /* ToC */
  .toc-item {
    font-size: 14px;
    color: #8f8f8f;
    overflow: hidden;
    border-radius: 2px; }
  .toc-item i {
    display: inline-block;
    width: 30px;
    min-width: 30px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    border: 1px solid #BDBDBD;
    margin-right: 8px; }
  .toc-item i::before,
  .toc-item i::after {
    content: '';
    display: block;
    border-left: 1px solid #BDBDBD;
    width: 0;
    height: 50px; }
  .toc-item i::before {
    margin-top: -50px;
    margin-left: 14px; }
  .toc-item i::after {
    margin-left: 14px; }
  .toc-item.completed,
  .toc-item.core-selected {
    color: #333333; }
  .toc-item.core-selected {
    background-color: #E0E0E0; }
  .toc-item.completed i,
  .toc-item.completed i::before,
  .toc-item.completed i::after,
  .toc-item.core-selected i,
  .toc-item.core-selected i:before {
    border-color: #00BCD4; }
  .toc-item.toc-item-first i::before,
  .toc-item.toc-item-last i::after {
    display: none;
  }
  paper-menu {
    background-color:#f5f5f5;   
  }
  paper-item {
    cursor:pointer;
    border-style:none;
    outline:0px none black;
  }
  paper-item.selected {
    background-color:#DDDDDD;
  }
  paper-header-panel h1 {
    position: relative;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1em;
    padding-left: 0;
    padding: 2px 0;
    color: white;
    margin: 0.67em 67px 0.67em 12px; }
  paper-header-panel h1.title{
    position: absolute;
    top:0px;
    width:80%;
    display:inline;
    font-size:1.4em;
    font-weight: 300;
    padding-left:0;
    padding: 2px 0;
    color: white;
    margin:18px 0 0 12px;
    transition:1.5s;
    white-space:nowrap;
  },
  paper-header-panel h1 strong {
    font-weight: 400;
    color: white; }

  ::content {
    line-height: 24px;
    /* Code snippets */
  }
  .hidden {
    visibility: hidden;
    display: none;
  }
  </style>
  <template>
    <polymer-cookie name="codelabs" id="cookie" value$="{{cookie}}"></polymer-cookie>

    <div id="language" class="fab gray raised hidden">
      <iron-icon icon="language"></iron-icon>
      <paper-ripple class="circle" recenters></paper-ripple>
    </div>

    <paper-header-panel mode="{{mode}}" class="blue">
      <div class="paper-header">
        <iron-icon id="menu_button" icon="menu" noink="" on-click="toggleMenu" role="button" tabindex="0" aria-label="menu"></iron-icon>
        <h1 id="title" class="title" flex></h1>
        <div>
          <div id="countdown" title="Time remaining" hidden?="{{duration == 0}}">
            <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg">
              <g>
                <circle r="18" cy="20" cx="20" stroke-width="2" stroke="rgba(255,255,255,0.2)" fill="none"/>
                <circle id="countdown_progress" r="18" cy="20" cx="20" stroke-width="2" stroke="rgba(255,255,255,0.6)" fill="none" stroke-dashoffset="48.42857142857142"/>
              </g>
            </svg>
            <strong>{{computedDuration(duration)}}</strong>
            <strong>mins</strong>
          </div>
        </div>
      </div>
      <!/div>
      <div class="content"></div>
    </paper-header-panel>

    <paper-drawer-panel id="paperDrawerPanel" drawer-width="256px" responsive-width="800px" transition>
      <div drawer id="drawerpanel_drawer">

        <paper-menu id="toc-items">
          <template is="dom-repeat" items="{{tocList}}" index-as="idx">
            <paper-item step$="{{computedIdx(idx)}}" class$="{{computedTocItem(idx, selectedIdx, tocList.length)}}" on-click="stepUpdatedByToc">
              <i class="toc-number">{{computedIdx(idx)}}</i><span>{{item.step_label}}</span>
            </paper-item>
          </template>
        </paper-menu>

      </div>
      <div main id="drawerpanel_main">
        
        <neon-animated-pages id="codelab-pages" class="flex" selected="[[selectedIdx]]" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]">
          <content></content>        
        </neon-animated-pages>

        <div id="page_control">
          <div id="prevStep" class="fab backword" on-click="stepUpdatedByNavIcon"">
            <iron-icon icon="arrow-back"></iron-icon>
            <paper-ripple class="circle" recenters></paper-ripple>
          </div>
          <div id="nextStep" class="fab forward" on-click="stepUpdatedByNavIcon">
            <iron-icon id="arrow-forward" icon="arrow-forward"></iron-icon>
            <paper-ripple class="circle" recenters></paper-ripple>
          </div>
        </div>
    </paper-drawer-panel>
  </template>
  <script>
  Polymer({
      is:"codelab-pack",
      properties : {
          label: {
              type:String,
              value: "(default)",
          },
          step_label: {
              type:String,
              value: "(default)",
          },
          label_id: {
              type:String,
              value: "(default)",
          },
          feedback_link: {
              type:String,
              value: "(default)",
          },
          category: {
              type:String,
              value: "(default)",
          },
          environment: {
              type:String,
              value: "(default)",
          },
          mode: {
              type:String,
              value:"seamed",
          },
          totalDuration: {
              type:Number,
              value:0,
          },
          duration: {
              type:Number,
              value:0,
          },
          selectedIdx: {
              type:Number,
              value:0,
              observer: "updateHashChanged"
          },
          steps: {
              type:Array,
              value:[],
          },
          temp: {
              type:Array,
              value:[],
          },
          tocList: {
              type:Array,
              value:[],
          }
      },
      computedIdx: function(idx) {
          return idx+1;
      },
      computedTocItem: function(idx, selectedIdx, length) {
          var out="";
          if(idx===0) out="toc-item-first ";
          if(idx===length-1) out="toc-item-last ";
          if(idx<=selectedIdx) out+="completed ";
          return "toc-item "+out;
      },
      computedDuration: function(duration) {
          return this._roundUp(duration/60);
      },
      _roundUp: function(value) {
        return Math.ceil(value);
      },
      updateTocSelected: function() {
          var idx=this.selectedIdx;
          var tocItems=Array.prototype.slice.call(this.getElementsByTagName("paper-item"));

          for(var i=0; i<tocItems.length; i++) {
              tocItems[i].blur();
              tocItems[i].removeAttribute("aria-selected");
              tocItems[i].removeAttribute("selected");
              tocItems[i].className=tocItems[i].className.replace("selected", "");
              tocItems[i].className=tocItems[i].className.replace("iron-selected", "");
              if(i==idx) tocItems[i].className+=" selected iron-selected";
          }
      },
      highlightSnippets: function() {
          //console.log(this.steps[this.selectedIdx]);
          this.steps[this.selectedIdx].highlight();
      },
      dispLanguageSelector: function() {
          this.$["language"].className=this.$["language"].className.replace(" hidden", "");
      },
      tracking: function() {
          var currentStep = this.selectedIdx+1;
          if(typeof this.steps=="undefined") {
              analytics.pageview(currentStep, window.location);
          } else {
              if (currentStep == this.steps.length) {
                  analytics.complete(this.codelab);
              }
          }
          console.log("[Analytics] tracking");
      },
      _prevStep: function(idx) {
          if (this.selectedIdx - 1 >= 0) {
              this.entryAnimation = 'slide-from-left-animation';
              this.exitAnimation = 'slide-right-animation';
              if(typeof idx=="undefined") {
                  this.selectedIdx -= 1;
              } else {
                  this.selectedIdx = idx;
              }
              this.$.drawerpanel_main.scrollTop=0;
          }
          this.updateProgress();
          this.setLastLocation();
          this.tracking();
          return {"step":this.selectedIdx+1, "length": this.steps.length};
      },
      _nextStep: function(idx) {
          var tocElems=this.querySelector("#toc-items").getElementsByTagName("paper-item");
          // Check whether already be in final step
          if(this.selectedIdx+1!=this.steps.length) {
              if (this.selectedIdx + 1 < this.steps.length) {
                  this.entryAnimation = 'slide-from-right-animation';
                  this.exitAnimation = 'slide-left-animation';
                  if(typeof idx=="undefined") {
                      this.selectedIdx += 1;
                  } else {
                      this.selectedIdx = idx;
                  } 
                  this.$.drawerpanel_main.scrollTop=0;
              }
              this.updateProgress();
              this.setLastLocation();
              this.tracking();
          }
          return {"step":this.selectedIdx+1, "length": this.steps.length};
      },
      stepUpdatedByToc: function(event) {
          var step=event.target.getAttribute("step");
          if(step==null) {
              step=event.target.parentNode.getAttribute("step");
          }
          this._stepUpdatedByStepNo(step);
      },
      stepUpdatedByCookie: function(step) {
          this._stepUpdatedByStepNo(step);
      },
      _stepUpdatedByStepNo: function(step) {
          var idx=parseInt(step, 10)-1;
          var tocElems=this.querySelector("#toc-items").getElementsByTagName("paper-item");

          this._updateTocCompleted.bind(this)(idx, tocElems);
          
          if(this.selectedIdx>idx) {
              this._prevStep.bind(this)(idx);
          }
          if(this.selectedIdx<idx) {
              this._nextStep.bind(this)(idx);
          }

          this._updateNavIconCompleted.bind(this)(step, tocElems.length);
          this.updateTocSelected();
      },
      stepUpdatedByNavIcon: function(event) {
          var mode=event.target.id;
          if(mode=="") {
              mode=event.target.parentNode.id;
          }
          switch(mode) {
              case "prevStep":
                  this._prevStep.bind(this)();
                  break;
              case "nextStep":
                  this._nextStep.bind(this)();
                  break;
          }
          var tocElems=this.querySelector("#toc-items").getElementsByTagName("paper-item");
          this._updateNavIconCompleted.bind(this)(this.selectedIdx+1, tocElems.length);
          this.updateTocSelected();
      },
      _updateTocCompleted: function(idx, tocElems) {
          for(var i=0; i<tocElems.length; i++) {
              tocElems[i].className=tocElems[i].className.replace(" completed", "");
              if(i<=idx) {
                  tocElems[i].className=tocElems[i].className+" completed";
              }
          }
      },
      _updateNavIconCompleted: function(step, tocElems_length) {
          if(step==tocElems_length) {
              this.$["arrow-forward"].setAttribute("icon", "done");
          } else {
              this.$["arrow-forward"].setAttribute("icon", "arrow-forward");
          }

          if(step==1) {
              this.$["prevStep"].style.setProperty("visibility", "hidden");
          } else {
              this.$["prevStep"].style.removeProperty("visibility");
          }
      },
      updateProgress: function() {
          if (this.totalDuration) {
              this_duration=0;
              if(this.selectedIdx>0) {
                  this_duration=this.steps[parseInt(this.selectedIdx)-1].timeToStart;
              }
              this.duration = this.totalDuration - this_duration;
              this.$.countdown_progress.setAttribute(
                  'stroke-dashoffset', (this.totalDuration - this.duration)/this.totalDuration * 113);
          } else {
              this.progress = (this.selectedIdx) / (this.steps.length - 1);
              this.$.progress.value = this.progress;
          }
      },
      ready: function(){
          //var p=location.pathname.split("/");
          this.codelab_id=this.label.replace(/ /g,"_").toLowerCase();
          document.title = this.label + " | Codelab" ;
          this.$["title"].innerHTML = this.label;
          this.steps = this.querySelectorAll('codelab-article');
          var arraySteps=[];
          for (var i=0; i<this.steps.length; i++) {
              this.steps[i].step=i+1;
              this.steps[i].label=this.label;
              this.steps[i].step_label=this.steps[i].getAttribute('step_label');
              this.steps[i].feedback_link = this.feedback_link;
              var parsedDuration = this.parseTime(this.steps[i].getAttribute('duration'));
              this.totalDuration += parsedDuration;
              this.steps[i].timeToStart = this.totalDuration;
              arraySteps.push({
                  "steps":i, "label":this.steps[i].label, 
                  "step_label": this.steps[i].step_label, 
                  "feedback_link": this.steps[i].feedback_link, 
                  "timeToStar":this.steps[i].totalDuration
              });
          }
          this.tocList=arraySteps;

          // Set defaults
          this.cookie = this.cookie || '{}';
          this.setSelectedStepFromHash();
          var codelabCookie = JSON.parse(this.cookie)[this.codelab_id];
          if ( codelabCookie && codelabCookie.currentStep !== undefined) {
              this.lastStep = codelabCookie.currentStep;
              if (this.selectedIdx != this.lastStep) {
                  this.$.resume_dialog.toggle();
              }
          }

          this.handleKeyShortcuts_ = this.handleKeyShortcuts.bind(this);
          document.addEventListener('keydown', this.handleKeyShortcuts_);
          this.setSelectedStepFromHash_ = this.setSelectedStepFromHash.bind(this);
          window.addEventListener('popstate', this.setSelectedStepFromHash_);

          this.selectedIdx=0;
          var tocElems=this.querySelector("#toc-items").getElementsByTagName("paper-item");
          this._updateTocCompleted.bind(this)(this.selectedIdx, tocElems);
          this._updateNavIconCompleted.bind(this)(this.selectedIdx+1, tocElems);

          document.addEventListener('code-snippet-copied', function(e){
              analytics.snippetCopied(e.detail.snippet);
         });
      },
      /**
       * Parses a time string in 'hh:mm:ss' format and returns number of seconds.
       * @param {string} timeStr Time string in 'hh:mm:ss' format.
       * @return {number} Number of seconds.
       */
      parseTime: function (timeStr) {
          if (!timeStr) {
              return 0;
          }
          var timeParts = timeStr.split(':');
          var s = parseInt(timeParts[timeParts.length - 1], 10);
          var m = parseInt(timeParts[timeParts.length - 2], 10);
          var h = parseInt(timeParts[timeParts.length - 3], 10) || 0;
          return s + 60 * m + 60*60 * h;
      },
      changeStep: function(event) {
          console.log(event.target);
      },
      setSelectedStepFromHash: function() {
          var stepFromHash = window.location.hash ?
                             parseInt(window.location.hash.replace('#', '')) : "false";

          var tocElems=this.querySelector("#toc-items").getElementsByTagName("paper-item");
          if(typeof tocElems!="undefined") {
              if(tocElems.length<0) {
                  if (stepFromHash >= tocElems.length) {
                      stepFromHash=tocElems.length-1;
                  } else if (stepFromHash < 1) {
                      stepFromHash=1;
                  }
              } else
              if(stepFromHash>tocElems.length) {
                  stepFromHash=tocElems.length;
              }
          }
          if(stepFromHash!="false") {
              if (stepFromHash != this.selectedIdx) {
                  this.selectedIdx = stepFromHash-1;
              }
          }
          return;
      },
      handleKeyShortcuts: function(e) {
        switch(e.keyCode) {
          case 33: // PAGE_UP
          case 37: // LEFT
            var retVal=this._prevStep.bind(this)();
            this._updateNavIconCompleted.bind(this)(retVal.step, retVal.length);
            break;
          case 34: // PAGE_DOWN
          case 39: // RIGHT
            var retVal=this._nextStep.bind(this)();
            this._updateNavIconCompleted.bind(this)(retVal.step, retVal.length);
            break;
        }
        this.updateTocSelected.bind(this)();
      },
      updateHashChanged: function(newVal, oldVal) {
          if(typeof oldVal=="undefined") {
              return;
          }
          var step=parseInt(this.selectedIdx, 10)+1;
          window.location.hash = '#' + step;
      },
      selectedIdxChanged: function(oldVal, newVal) {
          //this.selectedIdx = parseInt(this.selectedIdx, 10);
          // Update cookie.
          this.setLastLocation();
          // Update hash.
          //window.location.hash = '#' + this.selectedIdx+1;
          // Track analytics.
          //this.tracking();
      },
      setLastLocation: function() {
        var cookie = JSON.parse(this.cookie);
          cookie[this.codelab_id] = {
              currentStep: this.selectedIdx
          };
          this.cookie = JSON.stringify(cookie);
          this.$["cookie"].valueUpdated();
      },
      toggleMenu: function() {
          this.$["paperDrawerPanel"].togglePanel();
      },
      _updateStandardSeamed: function(event) {
          this.mode = (event.target.scrollTop > 0) ? 'standard' : 'seamed';
      },
      _adjustContentInnerSize: function(offset) {
          (typeof offset, offset);
          if(typeof offset!=="number") offset=0;
          if(this.$["paperDrawerPanel"].narrow==true) offset+=20;
          this.$["drawerpanel_main"].style.setProperty("height", parseInt(window.innerHeight)-80+offset + "px");
          this.$["drawerpanel_drawer"].style.setProperty("height", parseInt(window.innerHeight)-183+offset + "px");
      },
      attached: function() {
          this.async(function() { // used be a domReady
              this.$["drawerpanel_main"].addEventListener('scroll', this._updateStandardSeamed.bind(this));
              this.$["drawerpanel_drawer"].addEventListener('scroll', this._updateStandardSeamed.bind(this));

              this.$["paperDrawerPanel"].addEventListener("paper-responsive-change", function(event) {
                  if(event.detail.narrow==true) {
                      this.$["menu_button"].style.setProperty("width", "24px");
                  } else {
                      this.$["menu_button"].style.setProperty("width", "0px");
                  }
              }.bind(this));

  
              checkResponsiveState.bind(this)(document.getElementById("paperDrawerPanel"));
              window.addEventListener("paper-responsive-change", function(event){
                  var elem=event.target;
                  checkResponsiveState.bind(this)(elem);
              }.bind(this));
              function checkResponsiveState(elem) {
                  if(elem.hasAttribute("narrow")==true) {
                      this.$["prevStep"].style.setProperty("margin-left", "15px");
                      this.$["nextStep"].style.setProperty("right", "10px");
                      this.$["drawerpanel_main"].style.setProperty("padding", "0");
                      this.$["menu_button"].style.setProperty("width", "24px");
                  } else {
                      this.$["prevStep"].style.setProperty("margin-left", "35px");
                      this.$["nextStep"].style.setProperty("right", "45px");
                      this.$["drawerpanel_main"].style.setProperty("padding", "10px 10px 10px 10px");
                      this.$["menu_button"].style.setProperty("width", "0px");
                  }
              };

              // for drawer init
              var elem=this.$["paperDrawerPanel"];
              var event = new CustomEvent("paper-responsive-change", {detail:elem});
              elem.dispatchEvent(event);

              // adjusting content_inner_size                       
              this._adjustContentInnerSize.bind(this)(0);
              window.onresize=this._adjustContentInnerSize.bind(this);
              

              // scroll bar in drawer for windows chrome 
              this.$["drawerpanel_drawer"].style.setProperty("overflow-x", "hidden");
              this.$["drawerpanel_drawer"].style.setProperty("overflow-y", "auto");
              
              this.$["paperDrawerPanel"].fire("paper-responsive-change");

              this.updateProgress.bind(this)();  // initialize progress
              setTimeout(function(){
                  this.updateTocSelected.bind(this)();  // initialize toc backcolor

                  // initialize paper-ripple arrow
                  var tocElems=this.querySelector("#toc-items").getElementsByTagName("paper-item");
                  this._updateNavIconCompleted.bind(this)(this.selectedIdx+1, tocElems.length);

                  // reproduce last step or usign hash number
                  var numHash=parseInt(window.location.hash.replace("#", ""), 10);
                  var lastStep=this.$["cookie"].getSavedCookie(this.codelab_id);
                  if(lastStep.value<=1) this.selectedIdx=parseInt(lastStep.value, 10);
                  if(numHash>0) {
                      this.selectedIdx=numHash-1;
                      lastStep.value=numHash-1;
                  }
                  if(typeof lastStep.value!="undefined") this.stepUpdatedByCookie(parseInt(lastStep.value, 10)+1);

                  // initializing snippet
                  this.highlightSnippets.bind(this)();

              }.bind(this), 20);
              
              this.$["codelab-pages"].addEventListener("neon-animation-finish", function(){
                  this.highlightSnippets.bind(this)();
              }.bind(this));

                  
              // add event listener to language selecor
              this.$["language"].addEventListener("click", function(event){
                  //this.setLastLocation();
                  window.location="./index.html"+window.location.hash;
                  //window.location.search="";
                  //window.location.hash=window.location.hash;
              }.bind(this));

          });
      },
      detached: function() {
        //window.removeEventListener('popstate', this.setSelectedStepFromHash_);
        document.removeEventListener('keydown', this.handleKeyShortcuts_);
      }
  });
  </script>
</dom-module>
