<dom-module id="codelab-article">
  <style>
  @import url('//fonts.googleapis.com/css?family=Roboto:100,200,400,300,300italic,700,500|Source+Code+Pro:400,700');
  body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    -moz-osx-font-smoothing: grayscae;
    -webkit-font-smoothing: antialiased;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    /*background: url(/static/img/colorbar.png) repeat-x 50% 100%,
    url(/static/img/iowall_1920x1440.png) no-repeat 51% 0%;
    background-size: 100% 5px, cover;*/
    /*background: url(/static/img/colorbar.png) repeat-x 50% 100%;*/
    /*background-size: 100% 5px;*/
    background-color: #f1f1f3;
  }
  h2 {
    font-size:30px;
    font-weight:500;
    margin:0px;
    padding:0px;
  }
  #neon-animatable {
    margin:0px 10px;
  }
  #drawerpanel_main_outer {
    width:100%; 
    overflow-x: hidden;
    overflow-y: auto;
  }
  #drawerpanel_main_inner {
    background-color:#fff;
    padding:25px 20px 25px 20px;
  }
  ::content pre, ::content code {
    border-radius: 3px;
    font-family: 'Source Code Pro', Helvetica, Arial;
    overflow-x: auto; }
  ::content code {
    font-weight:300;
    border-radius: 2px;
    line-height: 1.5em;
    background-color: rgba(0, 0, 0, 0.07); }
  ::content pre {
    padding: 0px 16px 16px 16px;
    background: #222;
    line-height: 1.5em;
    font-size: 12px;
    color: #ccc; }
  .drawerpanel_main_footer {
    width:95%;
    text-align:center;
    height:200px;
    padding:10px 10px 10px 30px;
    margin:10px auto;
    color:#777;
  }
  #tutorial_contents {
    max-width:800px;
  }
  #footer_message {
    max-width:800px;
  }
</style>
  <template>

    <neon-animatable id="neon-animatable">
      <paper-material id="tutorial_contents" elevation="1">
        <div id="drawerpanel_main_outer">
          <div id="drawerpanel_main_inner">
            <h2><span id="step_no">{{step}}</span>. <span id="step_label">{{step_label}}</span></h2>
            <content></content>
          </div>
        </div>
      </paper-material>
    </neon-animatable>
    <div class="drawerpanel_main_footer">
      <div id="footer_message"></div>
    </div>

  </template>

  <script>
    Polymer({
      is: "codelab-article",
      properties: {
        step_label: {
          type: String,
          value: ""
        },
        feedback_url_count: {
          type: Number,
          value: 0
        }

      },
      ready: function() {
          var code_sections = this.querySelectorAll('code');
          for (var i=0; i<code_sections.length; i++) {
              var raw_code = code_sections[i].innerHTML;
              var highlighted_code = raw_code;
              var lang = code_sections[i].getAttribute('language');
              if (lang) {
                  raw_code = raw_code.replace(/&lt;/g,'<');
                  raw_code = raw_code.replace(/&gt;/g,'>');
                  raw_code = raw_code.replace(/&amp;/g,'&');
                  highlighted_code = hljs.highlight(lang, raw_code).value;
                  code_sections[i].innerHTML = '<pre>' + highlighted_code + '</pre>';
              }
          }
      },
      attached: function() {
          this.async(function() { // used be a domReady
              // different behavier in Chrome 44 and ff 39
              if(typeof this.step!="undefined") {
                  this.$["step_no"].innerHTML=this.step;
                  this.$["step_label"].innerHTML=this.step_label;
              }
              if(parseInt(this.$["step_no"])==="NaN") this.$["step_no"].innerHTML=this.step;

              // different behavier in Chrome 44 and ff 39
              if(this.feedback_url_count<1) {
                  if(typeof this.feedback_link=="undefined") {
                      this.feedback_link=this.$["feedback_url"].value;
                  }
                  var span=document.createElement("span");
                  span.innerHTML="Did you find a mistake in this codelab? ";
                  var href1=document.createElement("a");
                  href1.href=this.feedback_link;
                  href1.innerHTML="file a bug.";
                  this.$["footer_message"].appendChild(span);
                  this.$["footer_message"].appendChild(href1);
                  
                  this.$["feedback_link"]=this.feedback_link;              
                  this.feedback_url_count++;
              }
              
              window.addEventListener("paper-responsive-change", function(event){
                  var elem=event.target;
                  checkResponsiveStatus.bind(this)(elem);
              }.bind(this));
              function checkResponsiveStatus(elem) {
                  if(elem.hasAttribute("narrow")===true) {
                      this.$["neon-animatable"].style.setProperty("margin", "0px 0px");
                  } else {
                      this.$["neon-animatable"].style.setProperty("margin", "0px 10px");
                  }
              }
          });
      },
      toggleMargin: function() {
          if(this.$["neon-animatable"].hasAttribute("narrow")==true) {
              this.$["neon-animatable"].style.setProperty("margin", "0px 0px");
          } else {
              this.$["neon-animatable"].style.setProperty("margin", "0px 10px");
          }
      },
      highlight: function() {
          // Highlight code snippets.
          var snippets = this.querySelectorAll('codelab-snippet');
          for (var i = 0, snippet; snippet = snippets[i]; i++) {
              snippet.highlight();
          }
      }

  });
  </script>
</dom-module>